body{
	background-color:#fff!important;
}



.titulo{
	font-family: 'DM Serif Text', serif;
	font-size:45px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 37px;
    letter-spacing: normal;
    text-align: center;

}

.sub-text{

	font-size:13px;
	line-height: 20px;
	color:#505050;
	width:398px;
	text-align: center;
	margin:auto;
	font-family: 'Libre Baskerville', serif;

}

.font-weight{
	font-family: 'Libre Baskerville', serif;
	font-weight:700!important;

}

.color-primary{
	color:#ff9300;
}

.text-submit{
	background-color:#ff9300;
	color:#fff;
	font-family: 'Bitter', serif;
	font-size:15px;
	line-height:35px;
	border-bottom-width: 0px;
    padding-top: 0px;
    border: none;
    width:260px;
    border-radius:7px;
}

.input-form{
	width:260px;
	height:30px;
	font-size:12px;
	background: transparent;
	color: #bababa;
 	border: solid 0.5px #bababa;
 	padding:1rem;

}


.social-icons {
  position: absolute;
  margin-bottom: 2rem;
  width: 100%;
  z-index: 2;
}

.social-icons ul {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

.social-icons ul > li {
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
}

.social-icons ul > li > a {
  display: block;
  color: white;
  background-color: rgba(0, 46, 102, 0.8);
  border-radius: 100%;
  font-size: 2rem;
  line-height: 1.25rem;
  height: 2rem;
  width: 2rem;
}

.suscripcion-ok{
	color:#7ae582;
	font-size:18px;
	font-weight:bold;

}

.suscripcion-not{
	color:#ee6055;
	font-size:18px;
	font-weight:bold;
}

.img-right{
	position:absolute;
	right:0px;
}

.p-0{
	padding-right:0px!important;
}

.position-left{
	position:relative;
	left:-50px;
}

.img-01{
	width:100%;
	height:50vh;
	background-color:red;
	background-image:url("img/img-laura01.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-position-x:50%;
	background-position-y:10%;
	background-size:cover;

}

.img-02{
	width:100%;
	height:47%;
	background-color:red;
	background-image:url("img/img-laura02.png");
	background-repeat:no-repeat;
	background-position:center;
	background-position-x:50%;
	background-position-y:10%;
	background-size:cover;

}

.img-03{
	width:100%;
	height:47%;
	padding-right:0px;
	background-color:red;
	background-image:url("img/img-laura03.png");
	background-repeat:no-repeat;
	background-position:center;
	background-position-x:50%;
	background-position-y:10%;
	background-size:cover;

}

.img-04{
	width:100%;
	height:25vh;
	padding-right:0px;
	background-color:red;
	background-image:url("img/img-laura04.png");
	background-repeat:no-repeat;
	background-position:center;
	background-position-x:50%;
	background-position-y:10%;
	background-size:cover;

}

.img-05{
	width:100%;
	height:25vh;
	padding-right:0px;
	background-color:red;
	background-image:url("img/img-laura05.png");
	background-repeat:no-repeat;
	background-position:center;
	background-position-x:50%;
	background-position-y:10%;
	background-size:cover;

}
.img-06{
	width:100%;
	height:25vh;
	padding-right:0px;
	background-color:red;
	background-image:url("img/img-laura06.png");
	background-repeat:no-repeat;
	background-position:center;
	background-position-x:50%;
	background-position-y:10%;
	background-size:cover;

}
.img-07{
	width:100%;
	height:25vh;
	padding-right:0px;
	background-color:red;
	background-image:url("img/img-laura07.png");
	background-repeat:no-repeat;
	background-position:center;
	background-position-x:50%;
	background-position-y:10%;
	background-size:cover;

}


@media (max-width: 991px) {
	.sub-text{
		width:100%!important;
	}
	.position-left{
		left:0px;
	}

}



@media (min-width: 768px) {
  .social-icons {
    margin: 0;
    position: absolute;
    left: 2rem; /*left:2.5rem*/
    top:35%; /*bottom:2rem*/
    width: auto;
  }
  .social-icons ul {
    margin-top: 0;
    width: auto;
  }
  .social-icons ul > li {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .social-icons ul > li:last-child {
    margin-bottom: 0;
  }
  .social-icons ul > li > a {
    transition: all 0.2s ease-in-out;
    font-size: 2rem;
    line-height: 4rem;
    height: 2rem;
    width: 2rem;
  }
  .social-icons ul > li > a:hover {
    background-color: #002E66;
  }
}


@media (max-width: 375px) {

.input-form{
	width:90%

}

.text-submit{
    width:90%;
}


.sub-text{

	width:100%;


}

}